#main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Images/background1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-height: 100svh;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-head {
    padding-top: 30vw;
    color: white;
    font-family: var(--primary-font);
}

.main-head h1 {
    font-weight: 600;
    font-size: 16.5vw;
}

.main-head h2 {
    font-weight: 200;
    font-size: 9vw;
    padding-top: 1rem;
}

.main-head p {
    font-weight: 100;
    padding-top: 1rem;
    font-family: var(--secondary-font);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.bxs-chevrons-down {
    color: white;
    font-size: 15vw;
    padding-top: 5rem;
    animation-name: moveUpDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
    }
    2% {
        transform: rotate(-20deg);
    }
    7% {
        transform: rotate(10deg);
    }
    12% {
        transform: rotate(0deg);
    }
    40%, 100% {
        transform: none;
    }
  }

.socials {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    gap: 2rem;
    font-size: 1.5rem;
}

.socials a {
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
    animation-name: wiggle;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}